/* css styles */
html {
  /*-- Main font sizes --*/
  --title-size:      50px;
  --title-weight:    400;
  --body-size:       1.06rem;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     rgb(65, 120, 130); /* purple */
  --title-weight:    400;
  --header-color:    rgb(65, 120, 130);  /*rgba(4, 124, 145, 1); */ /* Allison's teal */
  --body-color:      rgba(0, 0, 0, 0.8);
  --aside-color:     rgba(0, 0, 0, 0.6);
  --fig-cap-color:   rgba(0, 0, 0, 0.6);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    Markazi Text;
  --mono-font:       Roboto Mono;
  --body-font:       Nunito Sans;
  --navbar-font:     Nunito Sans;  /* websites + blogs only */
}