/*-- scss:defaults --*/
// Colors
$light-cream: #faf5e3;
$cream: #ece6ce;
$dark-cream: #b6b09b;
$maroon: #631d2b;
$gray: #64605f;
$light-blue: #a6bfbf;
$blue: #467d7f;

// Base document colors
$navbar-bg: $maroon; // navbar
$navbar-fg: $dark-cream; // navbar foreground elements
$navbar-hl: $blue; // highlight color when hovering over navbar links
$body-bg: $cream; // page background 
$body-color: $gray; // page text 
$footer-bg: $maroon; // footer 
$link-color: $blue; // hyperlinks 

// Inline code
$code-bg: $light-cream; // inline code background color
$code-color: $blue; // inline code text color

// Code blocks
$code-block-bg: $light-blue; // code block background color


// button hover styling
.btn:hover {
  color: $light-cream;
  background-color: $blue;
  border-color: $gray;
}

